* {
    padding: 0;
    margin: 0;
}


header {
    padding: 1em;
    margin-bottom: 2em;
    background-color: #323230;
    color: #fff;
    display: flex;
    flex-flow: column-reverse nowrap;
    width: 100%;
    align-items: center;
    height: 300px;
}

header img {
    width: 150px;
    height: auto;
}

.header-images {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: flex-end; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 100%;
}

header img:nth-child(1) {
    align-self: flex-end;
}

header img:nth-child(2) {
    align-self: flex-start;
}

header img:nth-child(3){
    align-self: flex-end;
}


.stark {
    background-color: #cdcdcd;
}

.lannister {
    background-color: #6e0901;
}

.baratheon {
    background-color: #b49d04;
}

.targaryen {
    background-color: #000000;
}

.arryn {
    background-color: #234b91;
}

.tully {
    background-color: #07286b;
}

.greyjoy {
    background-color: #000000;
}

.tyrell {
    background-color: #3f6f0c;
}

.martell {
    background-color: #b2710b;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
}

.houses {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: flex-end; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    justify-content: center;
    
}

.house {
    width: 30%;
    margin: 0.3em;
    display: flex;
    justify-content: center;
    /* height: 500px; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: baseline; */
    /* align-items: stretch; */
    align-items: center;
    /* border: 1px solid red; */
}





